*{
    padding: 0;
    margin: 0;
}
.edu-edit-user-container{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    /* background-color: black; */
}
.edu-edit-user-container img{
    position: relative;
    left: 78vh;
}
.edu-edit-user-main{
    width: 100%;
    height: 650px;
    position: absolute;
    
  

  
}
.edu-edit-user-sub-container{
    width: 100%;
    /* box-shadow: 0px 0px 10px 0px rgba(14, 13, 13, 0.15); */
    height:750px;
    /* border-radius: 20px; */
    position: relative;
    /* left: 75vh; */
    /* top: 5vw; */
    /* background-color: #faebd78a; */
    right: 20vh;

   
}
.edu-edit-user-container h1{
    /* text-align: center; */
    color: #17bf9e;
    font-size: 60px;
    position: relative;
    right: 20vw;
}
.edu-edit-user-sub{
    width:70%;
    height: 80px;
    /* margin-left: 10vh; */
    margin-top: 5vh;
    

}
#edu-firstName{
    width:70%;
    margin-top: 10px;
    height: 35px;
    /* box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
    outline:none; */
    border:none;
    font-size: 25px;
    border-bottom: 1px solid gray;
    /* border-radius: 20px; */
    background: none;
    color: gray;

   
  
}

#edu-lastName{
    width:70%;
    margin-top: 10px;
    height: 35px;
    /* box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%); */
    /* outline:none; */
    border:none;
    font-size: 25px;
    background: none;
    color: gray;
    /* border-radius: 20px; */
    border-bottom: 1px solid gray;
}
#edu-email{
    width:70%;
    margin-top: 10px;
    height: 35px;
    /* box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
    outline:none; */
    font-size: 25px;
    background: none;
    border:none;
    border-bottom: 1px solid gray;
    color: gray;
    /* border-radius: 20px; */
}
#edu-salary{
    width:70%;
    margin-top: 10px;
    background: none;
    height: 35px;
    font-size: 25px;
    /* box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
    outline:none; */
    border:none;
    border-bottom: 1px solid gray;
    /* border-radius: 20px; */
    color: gray;
   
}
#edu-date{
    width:70%;
    margin-top: 10px;
    height: 35px;
    font-size: 25px;
    /* box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
    outline:none; */
    border-bottom: 1px solid gray;
    background: none;
    color: gray;
    border:none;
    border-bottom: 1px solid gray;
    /* border-radius: 20px; */
}
#edu-update-button{
   /* margin-left: 20vh; */
   background-color: #17bf9e;
   border-radius: 20px;
   width: 10%;
   border: none;
   height: 30px;
}
#edu-user-label{
    font-size: 20px;
    /* color: white; */
    margin-top: 10vw;
    
}
#edu-cancel-button{
    background-color: #17bf9e;
    border-radius: 20px;
    width: 10%;
    border: none;
    height: 30px;
}