*{
    padding: 0;
    margin: 0;

}
.contain-table{
    width: 100%;
    height: 500px;

}
.striped-table{
    height: 400px;
    margin-left: 100px;
}
.striped-table tr{
    width: 100%;
    height:50px ;

    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(10, 125, 89, 0.15);
   
    /* bottom: 1px solid black; */
}
.striped-table th{
  width: 150px;
  font-size: 20PX;
  height: 40px;

  text-align: center;

  /* border-bottom: 2px solid black; */
}
#edit-button{
    background-color: skyblue;
    border: none;
    height: 25px;
    border-radius: 10px;
    
    width: 90%;
}
/* #edit-button:hover{
    background-color: green;
} */
#delete-button{
    height: 25px;
    border-radius: 10px;
    background-color: skyblue;
    border: none;
    width: 90%;
}
/* #delete-button:hover{
    background-color: red;
} */
