*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}




/* Footer */
.edu-footer-container{
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.edu-footer-main{
    width: 100%;
    height: 400px;
    background-color:#bfefd1 ;
    display: flex;
}
.edu-footer-sub{
    width: 30%;
    height: 300px;
    text-align: left;
    padding: 50px;
}
.edu-footer-sub h1{
    color: black;
    font-family: 'Montserrate';
}
.edu-footer-sub li{
    color: rgb(27, 27, 27);
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    
}
#edu-loc{
    margin-top: 10px;
    
}
#edu-phone{
    margin-top: 10px;
}
#edu-mail{
    margin-top: 10px;
}
.edu-footer-sub p{
    margin-top: 20px;
}
.edu-footer-icon{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
#edu-twit{
    font-size: 30px;
    color: black;
    /* border: 1px solid gray; */
    background-color: transparent;
    width: 15%;
    height: 35px;
    position: relative;
    text-align: center;
   
 
    
}
#edu-face{
    font-size: 30px;
    margin-left: 10px;
    color: black;
 width: 15%;
 height: 35px;
 /* border: 1px solid gray; */
 background-color: transparent;
 text-align: center;

}
#edu-lnkd{
    font-size: 30px;
    margin-left: 10px;
    color: black;
 /* border: 1px solid gray; */
 background-color: transparent;
 width: 16%;
 text-align: center;
 height: 35px;

}
#edu-u-tube{
    font-size: 30px;
    margin-left: 10px;
    color: black;
 /* border: 1px solid gray; */
 background-color: transparent;
 width: 16%;
 height: 35px;
 text-align: center;
}